{:schema-version 1
 :profile "pdfcube-pdfbox"
 :product-family :pdfcarton
 :baseline-target :pdfcube
 :baseline-profile :pdfbox
 :project-root "research/pdfbox"
 :build-tool :maven
 :maven-selected-projects [":pdfbox"]
 :destination-bundle dripsharp.pdfcube.java-project/rule-bundle
 :destination-config "destinations/pdfbox.edn"
 :dependency-profiles ["pdfcube-io" "pdfcube-fontbox"]}
