{:schema-version 1
 :profile "pdfcube-xmpbox"
 :product-family :pdfcarton
 :baseline-target :pdfcube
 :baseline-profile :xmpbox
 :project-root "research/pdfbox"
 :build-tool :maven
 :maven-selected-projects [":xmpbox"]
 :destination-bundle dripsharp.pdfcube.java-project/rule-bundle
 :destination-config "destinations/xmpbox.edn"
 :dependency-profiles []}
