[submodule "research/pkl"]
	path = research/pkl
	url = https://github.com/apple/pkl.git
[submodule "research/rawhttp"]
	path = research/rawhttp
	url = https://github.com/renatoathaydes/rawhttp.git
[submodule "research/pdfbox"]
	path = research/pdfbox
	url = https://github.com/apache/pdfbox.git
[submodule "research/SkiaSharp"]
	path = research/SkiaSharp
	url = https://github.com/mono/SkiaSharp.git
[submodule "products/brine"]
	path = products/brine
	url = https://github.com/dripsharp/brine.git
[submodule "products/pdfcarton"]
	path = products/pdfcarton
	url = https://github.com/dripsharp/pdfcarton.git
