<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="pdfcube-local" value="../../target/pdfcube-pdfbox-printing-host-feed" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="pdfcube-local">
      <package pattern="PdfCube.*" />
      <package pattern="Microsoft.*" />
      <package pattern="SkiaSharp*" />
      <package pattern="System.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
