{:schema-version 1
 :profile "sqltrellis"
 :product-family :sqltrellis
 :baseline-target :sqltrellis
 :baseline-profile :core
 :project-root "research/jsqlparser"
 :build-tool :maven
 :maven-selected-projects [":jsqlparser"]
 :maven-properties
 {"license.skipUpdateLicense" "true"
  "pmd.skip" "true"
  "skipCheckSources" "true"}
 :maven-build-input-contract "maven-build-inputs.edn"
 :maven-lifecycle-phase :generate-sources
 :require-clean-source true
 :seeds
 [
  {:key "type:net.sf.jsqlparser.expression.Alias" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.AllValue" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.AnalyticExpression" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.AnalyticType" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.AnyComparisonExpression" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.AnyType" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.ArrayConstructor" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.ArrayExpression" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.BinaryExpression" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.BooleanValue" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.CaseExpression" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.CastExpression" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.CollateExpression" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.ConnectByPriorOperator" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.ConnectByRootOperator" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.DateTimeLiteralExpression" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.DateValue" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.DoubleValue" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.Expression" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.ExpressionVisitor" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.ExpressionVisitorAdapter" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.ExtractExpression" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.FilterOverImpl" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.Function" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.HexValue" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.HighExpression" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.IntervalExpression" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.Inverse" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.JdbcNamedParameter" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.JdbcParameter" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.JsonAggregateFunction" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.JsonAggregateOnNullType" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.JsonAggregateUniqueKeysType" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.JsonExpression" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.JsonFunction" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.JsonFunctionExpression" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.JsonFunctionType" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.JsonKeyValuePair" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.KeepExpression" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.LambdaExpression" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.LongValue" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.LowExpression" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.MySQLGroupConcat" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.MySQLIndexHint" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.NextValExpression" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.NotExpression" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.NullValue" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.NumericBind" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.OracleHierarchicalExpression" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.OracleHint" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.OracleNamedFunctionParameter" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.OrderByClause" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.OverlapsCondition" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.Parenthesis" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.PartitionByClause" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.PreferringClause" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.RangeExpression" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.RowConstructor" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.RowGetExpression" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.SQLServerHints" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.SignedExpression" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.SpannerInterleaveIn" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.StringValue" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.StructType" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.TimeKeyExpression" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.TimeValue" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.TimestampValue" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.TimezoneExpression" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.TranscodingFunction" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.TrimFunction" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.UserVariable" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.VariableAssignment" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.WhenClause" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.WindowDefinition" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.WindowElement" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.WindowOffset" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.WindowRange" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.XMLSerializeExpr" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.operators.arithmetic.Addition" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.operators.arithmetic.BitwiseAnd" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.operators.arithmetic.BitwiseLeftShift" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.operators.arithmetic.BitwiseOr" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.operators.arithmetic.BitwiseRightShift" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.operators.arithmetic.BitwiseXor" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.operators.arithmetic.Concat" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.operators.arithmetic.Division" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.operators.arithmetic.IntegerDivision" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.operators.arithmetic.Modulo" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.operators.arithmetic.Multiplication" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.operators.arithmetic.Subtraction" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.operators.conditional.AndExpression" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.operators.conditional.OrExpression" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.operators.conditional.XorExpression" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.operators.relational.Between" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.operators.relational.ComparisonOperator" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.operators.relational.ContainedBy" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.operators.relational.Contains" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.operators.relational.CosineSimilarity" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.operators.relational.DoubleAnd" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.operators.relational.EqualsTo" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.operators.relational.ExcludesExpression" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.operators.relational.ExistsExpression" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.operators.relational.ExpressionList" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.operators.relational.FullTextSearch" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.operators.relational.GeometryDistance" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.operators.relational.GreaterThan" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.operators.relational.GreaterThanEquals" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.operators.relational.InExpression" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.operators.relational.IncludesExpression" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.operators.relational.IsBooleanExpression" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.operators.relational.IsDistinctExpression" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.operators.relational.IsNullExpression" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.operators.relational.IsUnknownExpression" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.operators.relational.JsonOperator" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.operators.relational.LikeExpression" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.operators.relational.Matches" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.operators.relational.MemberOfExpression" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.operators.relational.MinorThan" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.operators.relational.MinorThanEquals" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.operators.relational.NamedExpressionList" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.operators.relational.NotEqualsTo" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.operators.relational.OldOracleJoinBinaryExpression" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.operators.relational.ParenthesedExpressionList" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.operators.relational.Plus" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.operators.relational.PriorTo" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.operators.relational.RegExpMatchOperator" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.operators.relational.RegExpMatchOperatorType" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.operators.relational.SimilarToExpression" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.operators.relational.SupportsOldOracleJoinSyntax" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.operators.relational.TSQLLeftJoin" :expand :body}
  {:key "type:net.sf.jsqlparser.expression.operators.relational.TSQLRightJoin" :expand :body}
  {:key "type:net.sf.jsqlparser.schema.Column" :expand :body}
  {:key "type:net.sf.jsqlparser.schema.Database" :expand :body}
  {:key "type:net.sf.jsqlparser.schema.MultiPartName" :expand :body}
  {:key "type:net.sf.jsqlparser.schema.Partition" :expand :body}
  {:key "type:net.sf.jsqlparser.schema.Sequence" :expand :body}
  {:key "type:net.sf.jsqlparser.schema.Server" :expand :body}
  {:key "type:net.sf.jsqlparser.schema.Synonym" :expand :body}
  {:key "type:net.sf.jsqlparser.schema.Table" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.Block" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.Commit" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.CreateFunctionalStatement" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.DeclareStatement" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.DeclareType" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.DescribeStatement" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.ExplainStatement" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.IfElseStatement" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.OutputClause" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.ParenthesedStatement" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.PurgeObjectType" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.PurgeStatement" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.ReferentialAction" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.ResetStatement" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.ReturningClause" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.RollbackStatement" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.SavepointStatement" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.SetStatement" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.ShowColumnsStatement" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.ShowStatement" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.Statement" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.StatementVisitor" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.StatementVisitorAdapter" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.Statements" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.UnsupportedStatement" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.UseStatement" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.alter.Alter" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.alter.AlterExpression" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.alter.AlterOperation" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.alter.AlterSession" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.alter.AlterSessionOperation" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.alter.AlterSystemOperation" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.alter.AlterSystemStatement" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.alter.ConstraintState" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.alter.DeferrableConstraint" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.alter.EnableConstraint" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.alter.RenameTableStatement" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.alter.ValidateConstraint" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.alter.sequence.AlterSequence" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.analyze.Analyze" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.comment.Comment" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.create.function.CreateFunction" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.create.index.CreateIndex" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.create.procedure.CreateProcedure" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.create.schema.CreateSchema" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.create.sequence.CreateSequence" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.create.synonym.CreateSynonym" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.create.table.CheckConstraint" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.create.table.ColDataType" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.create.table.ColumnDefinition" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.create.table.CreateTable" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.create.table.ExcludeConstraint" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.create.table.ForeignKeyIndex" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.create.table.Index" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.create.table.NamedConstraint" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.create.table.PartitionDefinition" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.create.table.RowMovement" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.create.table.RowMovementMode" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.create.view.AlterView" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.create.view.AutoRefreshOption" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.create.view.CreateView" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.create.view.ForceOption" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.create.view.TemporaryOption" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.delete.Delete" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.delete.DeleteModifierPriority" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.delete.ParenthesedDelete" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.drop.Drop" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.execute.Execute" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.grant.Grant" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.insert.ConflictActionType" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.insert.Insert" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.insert.InsertConflictAction" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.insert.InsertConflictTarget" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.insert.InsertModifierPriority" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.insert.ParenthesedInsert" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.merge.Merge" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.merge.MergeDelete" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.merge.MergeInsert" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.merge.MergeOperation" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.merge.MergeOperationVisitor" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.merge.MergeOperationVisitorAdapter" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.merge.MergeUpdate" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.piped.AggregatePipeOperator" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.piped.AsPipeOperator" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.piped.CallPipeOperator" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.piped.DropPipeOperator" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.piped.ExtendPipeOperator" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.piped.FromQuery" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.piped.FromQueryVisitor" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.piped.JoinPipeOperator" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.piped.LimitPipeOperator" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.piped.OrderByPipeOperator" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.piped.PipeOperator" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.piped.PipeOperatorVisitor" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.piped.PivotPipeOperator" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.piped.RenamePipeOperator" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.piped.SelectPipeOperator" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.piped.SetOperationPipeOperator" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.piped.SetPipeOperator" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.piped.TableSamplePipeOperator" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.piped.UnPivotPipeOperator" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.piped.WherePipeOperator" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.piped.WindowPipeOperator" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.refresh.RefreshMaterializedViewStatement" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.refresh.RefreshMode" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.select.AllColumns" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.select.AllTableColumns" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.select.Distinct" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.select.ExceptOp" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.select.Fetch" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.select.First" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.select.ForClause" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.select.ForMode" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.select.FromItem" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.select.FromItemVisitor" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.select.FromItemVisitorAdapter" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.select.FunctionAllColumns" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.select.GroupByElement" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.select.GroupByVisitor" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.select.IntersectOp" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.select.IntoTableVisitor" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.select.IntoTableVisitorAdapter" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.select.Join" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.select.JoinHint" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.select.KSQLJoinWindow" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.select.KSQLWindow" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.select.LateralSubSelect" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.select.LateralView" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.select.Limit" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.select.MinusOp" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.select.MySqlSqlCacheFlags" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.select.Offset" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.select.OptimizeFor" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.select.OrderByElement" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.select.OrderByVisitor" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.select.OrderByVisitorAdapter" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.select.ParenthesedFromItem" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.select.ParenthesedSelect" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.select.Pivot" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.select.PivotVisitor" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.select.PivotVisitorAdapter" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.select.PivotXml" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.select.PlainSelect" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.select.SampleClause" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.select.Select" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.select.SelectItem" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.select.SelectItemVisitor" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.select.SelectItemVisitorAdapter" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.select.SelectVisitor" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.select.SelectVisitorAdapter" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.select.SetOperation" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.select.SetOperationList" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.select.Skip" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.select.TableFunction" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.select.TableStatement" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.select.Top" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.select.UnPivot" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.select.UnionOp" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.select.Values" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.select.Wait" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.select.WithIsolation" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.select.WithItem" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.show.ShowIndexStatement" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.show.ShowTablesStatement" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.truncate.Truncate" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.update.ParenthesedUpdate" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.update.Update" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.update.UpdateModifierPriority" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.update.UpdateSet" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.upsert.Upsert" :expand :body}
  {:key "type:net.sf.jsqlparser.statement.upsert.UpsertType" :expand :body}
 ]
 :destination-bundle dripsharp.sqltrellis.java-project/rule-bundle
 :destination-config "destinations/core.edn"
 :dependency-profiles []}
