<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="pdfcube-local" value="../../target/pdfcube-io-host-feed" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="pdfcube-local">
      <package pattern="DripSharp.PdfCarton.IO" />
      <package pattern="Microsoft.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
