{:schema-version 1
 :scope :shared-compatibility
 :class :authored-compat
 :sources
 [{:id :shared/java-compat
   :kind :tree
   :provenance "runtime"
   :include-pattern "DripSharp\\.JavaCompat\\..*\\.cs"
   :charset nil
   :capability :java-compat
   :source-files 13
   :max-source-lines 13166
   :max-emitted-lines 13166
   :source-inventory-sha256
   "4eab3b1263b3af7c924cf7ea9f77bd52ee4b68f1857bac8312963184fe3d198e"
   :public-types
   {:count 66
    :sha256
    "b011ea9e16f71d39a9c6640c1de1a41823e448b2db2cdd6a09453de450b6e03e"}}
  {:id :shared/java-regex-unicode
   :kind :file
   :provenance "runtime/DripSharp.JavaRegexUnicodeData.cs"
   :include-pattern nil
   :charset nil
   :capability :java-regex-unicode
   :source-files 1
   :max-source-lines 83
   :max-emitted-lines 83
   :source-inventory-sha256
   "beeaaa8d025ea7909aa516874316abd1357f1b11acc7362f2fccc03a54951fe8"
   :public-types
   {:count 0
    :sha256
    "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"}}
  {:id :shared/java-bidi
   :kind :tree
   :provenance "runtime"
   :include-pattern "DripSharp\\.JavaBidi(?:\\..*)?\\.cs"
   :charset nil
   :capability :java-bidi
   :source-files 15
   :max-source-lines 4667
   :max-emitted-lines 4667
   :source-inventory-sha256
   "e264419d1ade473a485c5fc5bf8691c6a75c65c09b0dce365d9890fe44d993bc"
   :public-types
   {:count 0
    :sha256
    "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"}}]}
