{:schema-version 1
 :scope :shared-compatibility
 :class :authored-compat
 :sources
 [{:id :shared/java-compat
   :kind :tree
   :provenance "runtime"
   :include-pattern "DripSharp\\.JavaCompat\\..*\\.cs"
   :charset nil
   :capability :java-compat
   :source-files 14
   :max-source-lines 14513
   :max-emitted-lines 14513
   :source-inventory-sha256
   "11f7c0ca56758d8846f825746b57118e787755cdc4befb84b47a8d11d796405b"
   :public-types
   {:count 66
    :sha256
    "4d8b85e6f5a3c25664fe0cc74fd3e4f644764badc70c0afbd193c2c6a77bdd96"}}
  {:id :shared/java-regex-unicode
   :kind :file
   :provenance "runtime/DripSharp.JavaRegexUnicodeData.cs"
   :include-pattern nil
   :charset nil
   :capability :java-regex-unicode
   :source-files 1
   :max-source-lines 83
   :max-emitted-lines 83
   :source-inventory-sha256
   "beeaaa8d025ea7909aa516874316abd1357f1b11acc7362f2fccc03a54951fe8"
   :public-types
   {:count 0
    :sha256
    "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"}}
  {:id :shared/java-bidi
   :kind :tree
   :provenance "runtime"
   :include-pattern "DripSharp\\.JavaBidi(?:\\..*)?\\.cs"
   :charset nil
   :capability :java-bidi
   :source-files 15
   :max-source-lines 4661
   :max-emitted-lines 4661
   :source-inventory-sha256
   "e264419d1ade473a485c5fc5bf8691c6a75c65c09b0dce365d9890fe44d993bc"
   :public-types
   {:count 0
    :sha256
    "e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"}}]}
