{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.5"}
        fr.inria.gforge.spoon/spoon-core {:mvn/version "11.4.0"}
        org.jetbrains.kotlin/kotlin-compiler-embeddable {:mvn/version "2.2.21"}}
 :aliases
 {:run
  {:jvm-opts ["-Xmx8g"]
   :main-opts ["-m" "vibeformer.main"]}

  :test
  {:jvm-opts ["-Xmx8g"]
   :extra-paths ["test"]
   :main-opts ["-m" "vibeformer.test-runner"]}}}
